<header>
    <div class="logo_container">
        <figure>
            <img class="logo" src="assets/images/logo.jpg" alt="logotipo" width="256" height="221">
        </figure>
    <div class="titulo">
        <h1>GreenSpace Hub</h1>
    </div>
    </div>
    <div>
        <nav class="navbar">
            <strong class="buttons">
                <button class="buttons"> <a href="/home">INÍCIO</a></button>
                <button class="buttons"> <a href="/funcao">FUNÇÃO</a></button>
                <button class="buttons"> <a href="/tipoocorrencias">TIPO OCORRÊNCIA</a></button>
                <button class="buttons"> <a href="/statusocorrencias">STATUS OCORRÊNCIA</a></button>
            </strong>
        </nav>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<div id="footer" style="display: flex; justify-content: space-between;">
    <div>
        Copyright © GreenSpace Hub<br>
    </div>
    <div>
        <a target="_blank" href="https://www.facebook.com/greenspaceskillshub">
            <img src="assets/images/logo_facebook.png" alt="facebook" width="24" height="24">
        </a>
    </div>