body {
    height: 50vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: #ffc107;
}

.status-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    width: 20%;
    margin-top: 3%;
  }

.btn-danger {
    background-color: rgb(189, 10, 10);
    color: #212529;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 20%;
    margin-top: 5%;
}

.btn-danger:hover {
    background-color: orange;
    color: rgba(10, 10, 186, 0.696);
}

.retroceder {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 20%;
    margin-top: 5%;
    margin-left: 1%;
  }

  .retroceder:hover {
    background-color: grey;
    color: white
  }