body {
    height: 55vh;
    margin: 0;
    padding: 0;
    background: url('/assets/images/updategrande.png') right bottom no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.update {
    max-width: 100%;
    margin: 35% auto 45%;
    padding: 25px;
    background-color: green;
    text-align: center;
    border-radius: 20px;
}

.update h1 {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.form-group {
    margin-top: 150px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.btn-dark {
    background-color: #ffc107;
    color: #212529;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    width: 25%;
    margin-top: 5%;
}

.btn-dark:hover {
    background-color: #fffb00;
    color: green;
}
